.vscode/*

# local .terraform dirs
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**.terraform.lock.hcl

# local js test files
**/package-lock.json
**/node_modules/**

# pycharm
.idea/**
**/__pycache__/**

# pipenv/pytest
Pipfile.lock